# Dependencies
node_modules/
.pnp
.pnp.js

# Testing - Jest & Playwright
coverage/
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Environment and Secrets
.env
.env.local
.env.*.local

# Operating System Files
.DS_Store
Thumbs.db

# Jenkins & Docker temporary files
*.log
docker-compose.override.ymlx    