language: node_js
node_js:
  - "20"

services:
  - docker

install:
  - npm install
  - npx playwright install-deps
  - npx playwright install

# This starts your server in the background so the tests can reach http://localhost:5050
before_script:
  - npm start &
  - sleep 10

script:
  - npm test
  - npm run test:frontend

notifications:
  email:
    recipients:
      - xlancegoh@gmail.com
    on_success: always
    on_failure: always
