language: node_js
node_js:
  - "20" # Matches your current project environment

services:
  - docker # Required if you want to build your devops_pt3 image

install:
  - npm install
  - npx playwright install --with-deps

script:
  - npm test # Runs your 6 passing Jest tests
  - npm run test:frontend # Runs your 9 Playwright tests

notifications:
  email:
    recipients:
      - xlancegoh@gmail.com # Replaces your manual Jenkins email setup
    on_success: always
    on_failure: always