.topNavigationBar {
    top: 0;
    left: 0;
    right: 0;
    margin-top: -8px;
    height: max-content;
    background-color: #061424;
    width: 100%;
    margin-left: -8px;
    padding-right: 16px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.headingNav {
    display: inline-flex;
    margin-right: 10%;
    margin-left: 15px;
}

.twoButtons {
    margin-left: 130px;
    width: 700px;
    display: inline-flex;
    justify-content: space-between;
}

.buttonStyle {
    margin-right: 30px;
    font-size: large;
    background-color: #bfa053;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
}

.searchBarstyle {
    display: flex;
    align-items: center;
    margin-top: 10%;
    justify-self: center;
}

#searchbar {
    font-size: large;
    width: 800px;
}

#studenttab {
    margin-top: 30px;
}
.formheader{
    font-size: 20px; 
    font-weight: bold; 
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, "Helvetica Neue", Arial, 
    "Noto Sans", sans-serif, "Apple Color Emoji", 
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
.closebutton{
    font-size: xx-large; 
    background-color: white; 
    border: none; 
    margin: 0; 
    padding: 0;
    height: fit-content;
    background: none; 
    margin-right: 10px;
}